includes:
    - phpstan-baseline.neon
parameters:
    level: 6
    paths:
        - core
        - controllers
        - services
        - modules
    excludePaths:
        - */vendor/*
    tmpDir: .phpstan
