<div class="classic-profile-container">
    <div id="smilClassicProfile"
         data-scores="{{ scores|json_encode }}"
         data-labels="{{ labels|json_encode }}">
    </div>
</div>
<script src="{{ basePath }}/js/smil-profile-classic.js"></script>
