<div class="recommendations-block">
    <ul class="recommendations-list">
        {% for item in items %}
        <li class="recommendations-list__item">{{ item }}</li>
        {% endfor %}
    </ul>
</div>
